
@{
    ViewData["Title"] = "Menú principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row py-3">
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Módulo administrador de productos</h5>
                <p class="card-text">Control de productos</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a asp-controller="Producto" asp-action="Index" class="btn btn-primary btn-sm m-1">Ingresar al módulo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Módulo administrador de proveedores</h5>
                <p class="card-text">Control de provedores</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a asp-controller="Fault" asp-action="EditFaultAdmin" class="btn btn-primary btn-sm m-1">Ingresar al módulo</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 my-2">
        <div class="card shadow menu__card py-3">
            <div class="card-body">
                <h5 class="card-title">Módulo administrador de reportes</h5>
                <p class="card-text">Control de reportes</p>
                <div class="d-flex justify-content-center justify-content-xl-start flex-wrap">
                    <a asp-controller="DailyCollection" asp-action="Index" class="btn btn-primary btn-sm m-1">Ingresar al módulo</a>
                </div>
            </div>
        </div>
    </div>
</div>