@model UserViewModel
@{
    ViewData["Title"] = "Autenticación";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}

<div class="container__index container-fluid m-0 p-0">
    <h1>@ViewBag.Response</h1>
    <form class="container form__login needs-validation shadow" method="post" asp-controller="Authentication" asp-action="UserAuthentication" novalidate>
        <h2 class="mb-4 text-center">Omazon.com</h2>
        <div class="container mt-2">
            <label class="mb-2">Nombre de usuario</label>
            <input id="inNombreUsuario" class="form-control" placeholder="Ingrese su nombre de usuario" asp-for="UserName">
            <span class="field-validation-error" asp-validation-for="UserName"></span>
        </div>
        <div class="container mt-2">
            <label class="mb-2">Contraseña</label>
            <input id="inContraseña" type="password" class="form-control" placeholder="Ingrese su contraseña" asp-for="Password">
            <span class="field-validation-error" asp-validation-for="Password"></span>
        </div>
        <div class="container d-flex justify-content-center my-3">
            <button id="" type="submit" class="btn btn-dark">Iniciar Sesión</button>
        </div>
    </form>
</div>
@section scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.ShowModalResponse' === 'True') {
                createModalResponse("@ViewBag.Message");
            }
        });
    </script>
}