@{
    ViewData["Title"] = "Home Page";

    /*
    <img src= class="card-img-top" alt="foto-producto-de-limpieza">
            <div class="card-body">
                <h5 class="card-title">Prueba + @i</h5>
                <p class="card-text">
                    Disponibles: </br>
                </p>
                <h3> Precio : US$</h3>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary">Ver</a>
                <a id="btnFavorito" onclick="agregarFavorito(); return false;" class="btn btn-secondary">Favorito</a>
            </div>
    */

}
<div class="m-1 bg-primary text-light rounded">
    <h1 class="text-center">Omazon.com</h1>
    <h4 class="p-2">Inicio</h4>
</div>
<form class="form-row m-1 align-items-center rounded" asp-controller="Producto" asp-action="Buscar">
    <div class="mx-auto d-sm-inline-flex">
        <div class="col-sm-auto my-1">
            <h4>Nombre del producto:</h4>
        </div>
        <div class="col-sm-auto my-1">
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="col-sm-auto my-1">
            <button type="submit" class="btn bg-primary text-center text-light">Buscar</button>
        </div>
    </div>
</form>
<div class="row g-4">
    @for (int i = 0; i < 11; i++)
    {
        <div class="col-sm-3 my-3">
            <div class="card">
                <img src="/Imagenes/prueba.jpg" class="card-img-top" alt="foto-producto-de-limpieza">
                <div class="card-body">
                    <h5 class="card-title">Prueba + @i</h5>
                    <p class="card-text">
                        Descripción
                    </p>
                    <h3> Precio : US$</h3>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Ver</button>
                    <button id="btnCarrito" onclick="agregarFavorito(); return false;" class="btn btn-secondary">Agregar al carrito</button>
                </div>
            </div>
        </div>
    }
</div>
