@{
    @model Omazon.Models.ProductoModel
    ViewData["Title"] = "Gestión Producto";

}


<div class="form-group">
    <div class="m-1 text-center rounded">
        <h3>Gestionar Productos</h3>
    </div>

    <form class="form-row m-1 align-items-center rounded" asp-controller="Producto" asp-action="Buscar">
        <div class="mx-auto d-sm-inline-flex">
            <div class="col-sm-auto my-1">
                <h4>Nombre del producto:</h4>
            </div>
            <div class="col-sm-auto my-1">
                <input type="text" class="form-control" placeholder="">
            </div>
            <div class="col-sm-auto my-1">
                <button type="submit" class="btn bg-primary text-center text-light">Buscar</button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table" id="tableProducto">
            <thead class="table-dark">
                <tr class="text-center">
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio US$</th>
                    <th>Stock</th>
                    <th>Categoria</th>
                    <th>Gestion</th>
                </tr>
            </thead>
            <tbody id="tbody">

                @for (int i = 0; i < 5; i++)
                {
                <tr class="text-center">
                    <td>Producto número @i</td>
                    <td>Laptop</td>
                    <td>600</td>
                    <td>7</td>
                    <td>2</td>
                    <td class="text-center">
                        <button id="editar" type="button" class="btn btn-info text-center" onclick="editarRow(this); editarProducto(); return false;">Edit</button>
                        <button id="eliminar" type="button" class="btn btn-danger text-center" onclick="eliminarRow(this); eliminarProducto(); return false;">x</button>

                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xl-3">
            <div class="modal fade" id="modal">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                x
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center">
                                <form asp-area="" asp-controller="Producto" asp-action="">
                                    <div class="col-12">
                                        <label for="centrofor" class="form-label">ID</label><br />
                                        <input type="text" id="id" name="id" readonly />
                                    </div>
                                    <div class="col-12">
                                        <label for="centrofor" class="form-label">Nombre Producto</label><br />
                                        <input type="text" id="producto" name="producto" required />
                                    </div>
                                    <div class="col-12">
                                        <label for="centrofor" class="form-label">Precio US$ </label><br />
                                        <input type="number" id="precio" name="precio" required />
                                    </div>
                                    <div class="col-12">
                                        <label for="centrofor" class="form-label">Stock</label><br />
                                        <input type="number" id="stock" name="stock" required />
                                    </div>
                                    <br>
                                    <input type="submit" value="Actualizar Producto" class="btn btn-primary" style="background-color: #005cb9; width: 200px;" />
                                </form>
                                <br />


                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script>

    var table = document.getElementById('tableProducto');

    for (var i = 1; i < table.rows.length; i++) {
        table.rows[i].onclick = function () {
            document.getElementById('id').value = this.cells[0].innerHTML;
            document.getElementById('producto').value = this.cells[1].innerHTML;
            document.getElementById('precio').value = this.cells[2].innerHTML;
            document.getElementById('stock').value = this.cells[3].innerHTML;
            
            $("#modal").modal('show');
        };
    }

</script>