/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-link {
    border-radius: 0.5em;
}

.nav-link:hover {
    background-color: rgba(204, 204, 204, 0.959);
    color: #212529 !important; 
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.form__login {
    width: 95%;
    background-color: #6dc7f6;
    border-radius: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.container__index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 90vh;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.btn__search,
.btn__refresh, .btn__add {
    background-color: rgba(204, 204, 204, 0.959) !important;
}

    .btn__search:hover {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    .btn__refresh:hover {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

    .btn__add:hover {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5) !important;
    }

.menu__card {
    border-radius: 1em !important;
}

@media (min-width: 575.98px) and (max-width: 991.98px) {
    .form__login {
        width: 70%;
    }
}

@media (min-width: 991.98px) {
    .form__login {
        max-width: 40em;
    }
}

.field-validation-error {
    color: red;
    font-size: smaller;
}
