@model Omazon.Models.ProveedorModel

@{
    ViewData["Title"] = "Prueba";

}

<h1>Reporte de ventas de proveedores</h1>
<iframe width="800" height="486" src="https://app.powerbi.com/view?r=eyJrIjoiZTRkNmRhNTEtNWY0NS00YjNkLTkyMjAtYjFlMDljMGNjZTE0IiwidCI6ImU3OTg0Y2FjLTI1NDMtNGY4OC04Zjk3LTk1MjQzMzVlNmJjNCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

<h1>Reporte de ventas propias</h1>
<iframe width="800" height="486" src="https://app.powerbi.com/view?r=eyJrIjoiZGVjMWE3OTctZGE0Yy00YWJhLTg0ODgtZTdlYTgxNzY1YTVhIiwidCI6ImU3OTg0Y2FjLTI1NDMtNGY4OC04Zjk3LTk1MjQzMzVlNmJjNCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>

<h1>Reporte de ganancias por comisiones</h1>
<iframe width="800" height="486" src="https://app.powerbi.com/view?r=eyJrIjoiZTgyZDI5ZDgtMmQxYi00OGZjLWI5MTYtMWExZGUzOWU1ZWQxIiwidCI6ImU3OTg0Y2FjLTI1NDMtNGY4OC04Zjk3LTk1MjQzMzVlNmJjNCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>